* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #191919;
}

label, div, li, p, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
}

p {
    margin-bottom: 0.4em !important;
}

ul li:before {
    content: '✓';
    color: #F9A51C;
    margin-right: 6px;
}

img {
    border: 0;
    max-width: 100%;
    display: block;
}

.btn {
    margin: 0 auto;
    display: block !important;
}

.btn-custom {
    background-color: #60205E !important;
    border: #60205E !important;
    color: #FFFFFF !important;
    padding: 18px 66px !important;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn-custom:hover {
    background-color: #491848 !important;
}

.header-section {
    background-image: url('http://staging.straightarrow-tech.com/Jian_Tuan_June_2019/Exam3/Assets/Banner.png');
    width: 100%;
    height: 683px;
    background-repeat: no-repeat;
}

.info {
    color: #716F6F;
    font-weight: 600;
}

.text-White {
    color: #FFFFFF;
}

.text-Yellow {
    color: #F9A51C;
    font-weight: 600;
}

.text-Violet {
    color: #60205E;
}

.left-content {
    width: 38%;
}

.right-content {
    width: 532px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.clearfix:before{
    content: "";
    display: table;
    clear: both;
}

.bg-Gray {
    background-color: #EFF0F1;
}

.pad-container {
    padding-top: 35px !important;
    padding-right: 40px !important;
    padding-bottom: 40px !important;
    padding-left: 40px !important;
}

.footer-logo, .footer-site, .footer-credit {
    width: 33%;
    height: 50px;
    vertical-align: -webkit-baseline-middle;
    float: left;
}

@media only screen and (max-width: 426px) {
    .header-logo {
        display: block;
        margin: 0 auto;
    }

    .header-headline {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .padT80 {
        padding-top: 100px !important;
    }
  }