/* 

 SAC DGS Utilities
 Ver: 1.1

*/

.clearfix:before {
    content: '';
    clear: both;
}
.clearfix:after {
    content: '';
    clear: both;
    display:table;
}

.maxWidth1200 {
    max-width: 1200px;
    margin: 0px auto;
}

.maxWidth1100 {
    max-width: 1100px;
    margin: 0px auto;
}
.maxWidth1050 {
    max-width: 1050px;
    margin: 0px auto;
}
.maxWidth1000 {
    max-width: 1000px;
    margin: 0px auto;
}
.maxWidth950 {
    max-width: 950px;
    margin: 0px auto;
}
.maxWidth900 {
    max-width: 900px;
    margin: 0px auto;
}
.maxWidth850 {
    max-width: 850px;
    margin: 0px auto;
}
.maxWidth800 {
    max-width: 800px;
    margin: 0px auto;
}
.maxWidth750 {
    max-width: 750px;
    margin: 0px auto;
}
.maxWidth700 {
    max-width: 700px;
    margin: 0px auto;
}
.maxWidth650 {
    max-width: 650px;
    margin: 0px auto;
}
.maxWidth600 {
    max-width: 600px;
    margin: 0px auto;
}
.maxWidth550 {
    max-width: 550px;
    margin: 0px auto;
}
.maxWidth500 {
    max-width: 500px;
    margin: 0px auto;
}
.maxWidth450 {
    max-width: 450px;
    margin: 0px auto;
}
.maxWidth400 {
    max-width: 400px;
    margin: 0px auto;
}
.maxWidth350 {
    max-width: 350px;
    margin: 0px auto;
}
.maxWidth300 {
    max-width: 300px;
    margin: 0px auto;
}
.maxWidth600L {
    max-width: 600px;
}
.maxWidth550L {
    max-width: 550px;
}
.maxWidth500L {
    max-width: 500px;
}
.maxWidth450L {
    max-width: 450px;
}
.maxWidth400L {
    max-width: 400px;
}
.maxWidth350L {
    max-width: 350px;
}
.maxWidth300L {
    max-width: 300px;
}

.pad5 {     padding: 5px;}
.pad10 {    padding: 10px;}
.pad15 {    padding: 15px;}
.pad20 {    padding: 20px;}
.pad25 {    padding: 25px;}
.pad30 {    padding: 30px;}
.pad35 {    padding: 35px;}
.pad40 {    padding: 40px;}
.pad45 {    padding: 45px;}
.pad50 {    padding: 50px;}
.pad55 {    padding: 55px;}
.pad60 {    padding: 60px;}
.pad65 {    padding: 65px;}
.pad70 {    padding: 70px;}
.pad75 {    padding: 75px;}
.pad80 {    padding: 80px;}
.pad85 {    padding: 85px;}
.pad90 {    padding: 90px;}
.pad95 {    padding: 95px;}
.pad100 {   padding: 100px;}
.pad120 {   padding: 120px;}
.pad150 {   padding: 150px;}
.padTB5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.padTB10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padTB15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.padTB20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padTB25 {
    padding-top: 25px;
    padding-bottom: 25px;
}
.padTB30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padTB35 {
    padding-top: 35px;
    padding-bottom: 35px;
}
.padTB40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.padTB45 {
    padding-top: 45px;
    padding-bottom: 45px;
}
.padTB50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padTB55 {
    padding-top: 55px;
    padding-bottom: 55px;
}
.padTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.padTB65 {
    padding-top: 65px;
    padding-bottom: 65px;
}
.padTB70 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.padTB75 {
    padding-top: 75px;
    padding-bottom: 75px;
}
.padTB80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.padTB85 {
    padding-top: 85px;
    padding-bottom: 85px;
}
.padTB90 {
    padding-top: 90px;
    padding-bottom: 90px;
}
.padTB95 {
    padding-top: 95px;
    padding-bottom: 95px;
}
.padTB100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.padTB120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
.padTB150 {
    padding-top: 150px;
    padding-bottom: 150px;
}
.padLR5 {
    padding-left: 5px;
    padding-right: 5px;
}
.padLR10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padLR15 {
    padding-left: 15px;
    padding-right: 15px;
}
.padLR20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padLR25 {
    padding-left: 25px;
    padding-right: 25px;
}
.padLR30 {
    padding-left: 30px;
    padding-right: 30px;
}
.padLR35 {
    padding-left: 35px;
    padding-right: 35px;
}
.padLR40 {
    padding-left: 40px;
    padding-right: 40px;
}
.padLR45 {
    padding-left: 45px;
    padding-right: 45px;
}
.padLR50 {
    padding-left: 50px;
    padding-right: 50px;
}
.padLR55 {
    padding-left: 55px;
    padding-right: 55px;
}
.padLR60 {
    padding-left: 60px;
    padding-right: 60px;
}
.padLR65 {
    padding-left: 65px;
    padding-right: 65px;
}
.padLR70 {
    padding-left: 70px;
    padding-right: 70px;
}
.padLR75 {
    padding-left: 75px;
    padding-right: 75px;
}
.padLR80 {
    padding-left: 80px;
    padding-right: 80px;
}
.padLR85 {
    padding-left: 85px;
    padding-right: 85px;
}
.padLR90 {
    padding-left: 90px;
    padding-right: 90px;
}
.padLR95 {
    padding-left: 95px;
    padding-right: 95px;
}
.padLR100 {
    padding-left: 100px;
    padding-right: 100px;
}
.padLR120 {
    padding-left: 120px;
    padding-right: 120px;
}
.padLR150 {
    padding-left: 150px;
    padding-right: 150px;
}
.padT5 {    padding-top: 5px;}
.padT10 {   padding-top: 10px;}
.padT15 {   padding-top: 15px;}
.padT20 {   padding-top: 20px;}
.padT25 {   padding-top: 25px;}
.padT30 {   padding-top: 30px;}
.padT35 {   padding-top: 35px;}
.padT40 {   padding-top: 40px;}
.padT45 {   padding-top: 45px;}
.padT50 {   padding-top: 50px;}
.padT55 {   padding-top: 55px;}
.padT60 {   padding-top: 60px;}
.padT65 {   padding-top: 65px;}
.padT70 {   padding-top: 70px;}
.padT75 {   padding-top: 75px;}
.padT80 {   padding-top: 80px;}
.padT85 {   padding-top: 85px;}
.padT90 {   padding-top: 90px;}
.padT95 {   padding-top: 95px;}
.padT100 {  padding-top: 100px;}
.padT120 {  padding-top: 120px;}
.padT150 {  padding-top: 150px;}
.padL5 {    padding-left: 5px;}
.padL10 {   padding-left: 10px;}
.padL15 {   padding-left: 15px;}
.padL20 {   padding-left: 20px;}
.padL25 {   padding-left: 25px;}
.padL30 {   padding-left: 30px;}
.padL35 {   padding-left: 35px;}
.padL40 {   padding-left: 40px;}
.padL45 {   padding-left: 45px;}
.padL50 {   padding-left: 50px;}
.padL55 {   padding-left: 55px;}
.padL60 {   padding-left: 60px;}
.padL65 {   padding-left: 65px;}
.padL70 {   padding-left: 70px;}
.padL75 {   padding-left: 75px;}
.padL80 {   padding-left: 80px;}
.padL85 {   padding-left: 85px;}
.padL90 {   padding-left: 90px;}
.padL95 {   padding-left: 95px;}
.padL100 {  padding-left: 100px;}
.padL120 {  padding-left: 120px;}
.padL150 {  padding-left: 150px;}
.padR5 {    padding-right: 5px;}
.padR10 {   padding-right: 10px;}
.padR15 {   padding-right: 15px;}
.padR20 {   padding-right: 20px;}
.padR25 {   padding-right: 25px;}
.padR30 {   padding-right: 30px;}
.padR35 {   padding-right: 35px;}
.padR40 {   padding-right: 40px;}
.padR45 {   padding-right: 45px;}
.padR50 {   padding-right: 50px;}
.padR55 {   padding-right: 55px;}
.padR60 {   padding-right: 60px;}
.padR65 {   padding-right: 65px;}
.padR70 {   padding-right: 70px;}
.padR75 {   padding-right: 75px;}
.padR80 {   padding-right: 80px;}
.padR85 {   padding-right: 85px;}
.padR90 {   padding-right: 90px;}
.padR95 {   padding-right: 95px;}
.padR100 {  padding-right: 100px;}
.padR120 {  padding-right: 120px;}
.padR150 {  padding-right: 150px;}
.padB5 {    padding-bottom: 5px;}
.padB10 {   padding-bottom: 10px;}
.padB15 {   padding-bottom: 15px;}
.padB20 {   padding-bottom: 20px;}
.padB25 {   padding-bottom: 25px;}
.padB30 {   padding-bottom: 30px;}
.padB35 {   padding-bottom: 35px;}
.padB40 {   padding-bottom: 40px;}
.padB45 {   padding-bottom: 45px;}
.padB50 {   padding-bottom: 50px;}
.padB55 {   padding-bottom: 55px;}
.padB60 {   padding-bottom: 60px;}
.padB65 {   padding-bottom: 65px;}
.padB70 {   padding-bottom: 70px;}
.padB75 {   padding-bottom: 75px;}
.padB80 {   padding-bottom: 80px;}
.padB85 {   padding-bottom: 85px;}
.padB90 {   padding-bottom: 90px;}
.padB95 {   padding-bottom: 95px;}
.padB100 {  padding-bottom: 100px;}
.padB120 {  padding-bottom: 120px;}
.padB150 {  padding-bottom: 150px;}

.noPad {  padding: 0px;}
.noPadT { padding-top: 0px;}
.noPadB { padding-bottom: 0px;}
.noPadL { padding-left: 0px;}
.noPadR { padding-right: 0px;}

.mar5 {     margin: 5px;}
.mar10 {    margin: 10px;}
.mar15 {    margin: 15px;}
.mar20 {    margin: 20px;}
.mar25 {    margin: 25px;}
.mar30 {    margin: 30px;}
.mar35 {    margin: 35px;}
.mar40 {    margin: 40px;}
.mar45 {    margin: 45px;}
.mar50 {    margin: 50px;}
.marT5 {    margin-top: 5px;}
.marT10 {   margin-top: 10px;}
.marT15 {   margin-top: 15px;}
.marT20 {   margin-top: 20px;}
.marT25 {   margin-top: 25px;}
.marT30 {   margin-top: 30px;}
.marT35 {   margin-top: 35px;}
.marT40 {   margin-top: 40px;}
.marT45 {   margin-top: 45px;}
.marT50 {   margin-top: 50px;}
.marT55 {   margin-top: 55px;}
.marT60 {   margin-top: 60px;}
.marT65 {   margin-top: 65px;}
.marT70 {   margin-top: 70px;}
.marT75 {   margin-top: 75px;}
.marT80 {   margin-top: 80px;}
.marL5 {    margin-left: 5px;}
.marL10 {   margin-left: 10px;}
.marL15 {   margin-left: 15px;}
.marL20 {   margin-left: 20px;}
.marL25 {   margin-left: 25px;}
.marL30 {   margin-left: 30px;}
.marL35 {   margin-left: 35px;}
.marL40 {   margin-left: 40px;}
.marL45 {   margin-left: 45px;}
.marL50 {   margin-left: 50px;}
.marL55 {   margin-left: 55px;}
.marL60 {   margin-left: 60px;}
.marL65 {   margin-left: 65px;}
.marL70 {   margin-left: 70px;}
.marL75 {   margin-left: 75px;}
.marL80 {   margin-left: 80px;}
.marR5 {    margin-right: 5px;}
.marR10 {   margin-right: 10px;}
.marR15 {   margin-right: 15px;}
.marR20 {   margin-right: 20px;}
.marR25 {   margin-right: 25px;}
.marR30 {   margin-right: 30px;}
.marR35 {   margin-right: 35px;}
.marR40 {   margin-right: 40px;}
.marR45 {   margin-right: 45px;}
.marR50 {   margin-right: 50px;}
.marR55 {   margin-right: 55px;}
.marR60 {   margin-right: 60px;}
.marR65 {   margin-right: 65px;}
.marR70 {   margin-right: 70px;}
.marR75 {   margin-right: 75px;}
.marR80 {   margin-right: 80px;}
.marB5 {    margin-bottom: 5px;}
.marB10 {   margin-bottom: 10px;}
.marB15 {   margin-bottom: 15px;}
.marB20 {   margin-bottom: 20px;}
.marB25 {   margin-bottom: 25px;}
.marB30 {   margin-bottom: 30px;}
.marB35 {   margin-bottom: 35px;}
.marB40 {   margin-bottom: 40px;}
.marB45 {   margin-bottom: 45px;}
.marB50 {   margin-bottom: 50px;}
.marB55 {   margin-bottom: 55px;}
.marB60 {   margin-bottom: 60px;}
.marB65 {   margin-bottom: 65px;}
.marB70 {   margin-bottom: 70px;}
.marB75 {   margin-bottom: 75px;}
.marB80 {   margin-bottom: 80px;}

.marB05em {     margin-bottom: 0.5em;}
.marB075em {    margin-bottom: 0.75em;}
.marB1em {      margin-bottom: 1em;}
.marB125em {    margin-bottom: 1.25em;}
.marB15em {     margin-bottom: 1.5em;}
.marB175em {    margin-bottom: 1.75em;}
.marB2em {      margin-bottom: 1.75em;}

.noMar {  margin: 0px;}
.noMarT { margin-top: 0px;}
.noMarB { margin-bottom: 0px;}
.noMarL { margin-left: 0px;}
.noMarR { margin-right: 0px;}

.fontS12 h1,.fontS12 h2,.fontS12 h3,.fontS12 h4,
.fontS12 { font-size: 12px;}
.fontS14 h1,.fontS14 h2,.fontS14 h3,.fontS14 h4,
.fontS14 { font-size: 14px;}
.fontS15 h1,.fontS15 h2,.fontS15 h3,.fontS15 h4,
.fontS15 { font-size: 15px;}
.fontS16 h1,.fontS16 h2,.fontS16 h3,.fontS16 h4,
.fontS16 { font-size: 16px;}
.fontS17 h1,.fontS17 h2,.fontS17 h3,.fontS17 h4,
.fontS17 { font-size: 17px;}
.fontS18 h1,.fontS18 h2,.fontS18 h3,.fontS18 h4,
.fontS18 { font-size: 18px;}
.fontS20 h1,.fontS20 h2,.fontS20 h3,.fontS20 h4,
.fontS20 { font-size: 20px;}
.fontS22 h1,.fontS22 h2,.fontS22 h3,.fontS22 h4,
.fontS22 { font-size: 22px;}
.fontS24 h1,.fontS24 h2,.fontS24 h3,.fontS24 h4,
.fontS24 { font-size: 24px;}
.fontS25 h1,.fontS25 h2,.fontS25 h3,.fontS25 h4,
.fontS25 { font-size: 25px;}
.fontS26 h1,.fontS26 h2,.fontS26 h3,.fontS26 h4,
.fontS26 { font-size: 26px;}
.fontS28 h1,.fontS28 h2,.fontS28 h3,.fontS28 h4,
.fontS28 { font-size: 28px;}
.fontS30 h1,.fontS30 h2,.fontS30 h3,.fontS30 h4,
.fontS30 { font-size: 30px;}
.fontS32 h1,.fontS32 h2,.fontS32 h3,.fontS32 h4,
.fontS32 { font-size: 32px;}
.fontS34 h1,.fontS34 h2,.fontS34 h3,.fontS34 h4,
.fontS34 { font-size: 34px;}
.fontS35 h1,.fontS35 h2,.fontS35 h3,.fontS35 h4,
.fontS35 { font-size: 35px;}
.fontS36 h1,.fontS36 h2,.fontS36 h3,.fontS36 h4,
.fontS36 { font-size: 36px;}
.fontS38 h1,.fontS38 h2,.fontS38 h3,.fontS38 h4,
.fontS38 { font-size: 38px;}
.fontS40 h1,.fontS40 h2,.fontS40 h3,.fontS40 h4,
.fontS40 { font-size: 40px;}
.fontS42 h1,.fontS42 h2,.fontS42 h3,.fontS42 h4,
.fontS42 { font-size: 42px;}
.fontS44 h1,.fontS44 h2,.fontS44 h3,.fontS44 h4,
.fontS44 { font-size: 44px;}
.fontS45 h1,.fontS45 h2,.fontS45 h3,.fontS45 h4,
.fontS45 { font-size: 45px;}
.fontS46 h1,.fontS46 h2,.fontS46 h3,.fontS46 h4,
.fontS46 { font-size: 46px;}
.fontS48 h1,.fontS48 h2,.fontS48 h3,.fontS48 h4,
.fontS48 { font-size: 48px;}
.fontS50 h1,.fontS50 h2,.fontS50 h3,.fontS50 h4,
.fontS50 { font-size: 50px;}
.fontS55 h1,.fontS55 h2,.fontS55 h3,.fontS55 h4,
.fontS55 { font-size: 55px;}
.fontS60 h1,.fontS60 h2,.fontS60 h3,.fontS60 h4,
.fontS60 { font-size: 60px;}
.fontS65 h1,.fontS65 h2,.fontS65 h3,.fontS65 h4,
.fontS65 { font-size: 65px;}
.fontS70 h1,.fontS70 h2,.fontS70 h3,.fontS70 h4,
.fontS70 { font-size: 70px;}
.fontS75 h1,.fontS75 h2,.fontS75 h3,.fontS75 h4,
.fontS75 { font-size: 75px;}
.fontS80 h1,.fontS80 h2,.fontS80 h3,.fontS80 h4,
.fontS80 { font-size: 80px;}
.fontS85 h1,.fontS85 h2,.fontS85 h3,.fontS85 h4,
.fontS85 { font-size: 85px;}
.fontS90 h1,.fontS90 h2,.fontS90 h3,.fontS90 h4,
.fontS90 { font-size: 90px;}
.fontS95 h1,.fontS95 h2,.fontS95 h3,.fontS95 h4,
.fontS95 { font-size: 95px;}
.fontS100 h1,.fontS100 h2,.fontS100 h3,.fontS100 h4,
.fontS100 { font-size: 100px;}


.line-height1 {     line-height: 1;}
.line-height11 {    line-height: 1.1;}
.line-height12 {    line-height: 1.2;}
.line-height13 {    line-height: 1.3;}
.line-height14 {    line-height: 1.4;}
.line-height15 {    line-height: 1.5;}
.line-height16 {    line-height: 1.6;}
.line-height17 {    line-height: 1.7;}
.line-height18 {    line-height: 1.8;}
.line-height19 {    line-height: 1.9;}
.line-height2 {     line-height: 2;}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.pull-left, .pull-left-desktop {    float: left;}
.pull-right, .pull-right-desktop {  float: right;}

.clear-both {   clear: both;}

.showOn1023, .showOn767,
.hide {             display: none;}
.inlineBlock {      display: inline-block;}
.hideOn1023, .hideOn767,
.show, .block {     display: block;}

.invisible {
    visibility: hidden;
}
.text-left h1,.text-left h2,.text-left h3,.text-left h4,
.text-left {    text-align: left;}
.text-right h1,.text-right h2,.text-right h3,.text-right h4,
.text-right {   text-align: right;}
.text-center h1,.text-center h2,.text-center h3,.text-center h4,
.text-center {  text-align: center;}
.text-justify h1,.text-justify h2,.text-justify h3,.text-justify h4,
.text-justify { text-align: justify;}

.em {   font-style: italic;}

.strikethrough {    text-decoration: line-through;}

.uppercase {    text-transform: uppercase;}
.lowercase {    text-transform: lowercase;}

.fontW300 { font-weight: 300;}
.normal,
.fontW400 { font-weight: 400;}
.fontW500 { font-weight: 500;}
.bold,.strong,
.fontW700 { font-weight: 700;}
.fontW800 { font-weight: 800;}
.fontW900 { font-weight: 900;}

@media (max-width: 1023px){
    .maxWidth600On1023 {
        max-width: 600px;
        margin: 0px auto;
    }
    .maxWidth550On1023 {
        max-width: 550px;
        margin: 0px auto;
    }
    .maxWidth500On1023 {
        max-width: 500px;
        margin: 0px auto;
    }
    .maxWidth450On1023 {
        max-width: 450px;
        margin: 0px auto;
    }
    .maxWidth400On1023 {
        max-width: 400px;
        margin: 0px auto;
    }
    .maxWidth350On1023 {
        max-width: 350px;
        margin: 0px auto;
    }
    .maxWidth300On1023 {
        max-width: 300px;
        margin: 0px auto;
    }

    .padTB30,
    .padTB35 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .padTB40,
    .padTB45 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .padTB50,
    .padTB55 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .padTB60,
    .padTB65 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .padTB70,
    .padTB75,
    .padTB80,
    .padTB85,
    .padTB90,
    .padTB95,
    .padTB100,
    .padTB120,
    .padTB150 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .padLR30,
    .padLR35 {
        padding-left: 25px;
        padding-right: 25px;
    }
    .padLR40,
    .padLR45 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .padLR50,
    .padLR55 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .padLR60,
    .padLR65 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .padLR70,
    .padLR75,
    .padLR80,
    .padLR85,
    .padLR90,
    .padLR95,
    .padLR100,
    .padLR120,
    .padLR150 {
        padding-left: 60px;
        padding-right: 60px;
    }

    .pad30,
    .pad35 {    padding: 25px;}
    .pad40,
    .pad45 {    padding: 30px;}
    .pad50,
    .pad55 {    padding: 40px;}
    .pad60, .pad65, .pad70, .pad75, .pad80, .pad85,
    .pad90 {    padding: 50px;}
    .pad95, .pad100, .pad120,
    .pad150 {   padding: 60px;}

    .padT30,
    .padT35 {   padding-top: 25px;}
    .padT40,
    .padT45 {   padding-top: 30px;}
    .padT50,
    .padT55 {   padding-top: 40px;}
    .padT60, .padT65, .padT70, .padT75, .padT80  .padT85
    .padT90 {   padding-top: 50px;}
    .padT95, .padT100, .padT120,
    .padT150 {  padding-top: 60px;}

    .padL30,
    .padL35 {   padding-left: 25px;}
    .padL40,
    .padL45 {   padding-left: 30px;}
    .padL50,
    .padL55 {   padding-left: 40px;}
    .padL60, .padL65, .padL70, .padL75, .padL80, .padL85,
    .padL90 {   padding-left: 50px;}
    .padL95, .padL100, .padL120,
    .padL150 {  padding-left: 60px;}

    .padR30,
    .padR35 {   padding-right: 25px;}
    .padR40,
    .padR45 {   padding-right: 30px;}
    .padR50,
    .padR55 {   padding-right: 40px;}
    .padR60, .padR65, .padR70, .padR75, .padR80, .padR85,
    .padR90 {   padding-right: 50px;}
    .padR95, .padR100, .padR120,
    .padR150 {  padding-right: 60px;}

    .padB30,
    .padB35 {   padding-bottom: 25px;}
    .padB40,
    .padB45 {   padding-bottom: 30px;}
    .padB50,
    .padB55 {   padding-bottom: 40px;}
    .padB60, .padB65, .padB70, .padB75, .padB80, .padB85,
    .padB90 {   padding-bottom: 50px;}
    .padB95, .padB100, .padB120,
    .padB150 {  padding-bottom: 60px;}


    .pad10on1023 { padding: 10px; }
    .padT10on1023 { padding-top: 10px; }
    .padB10on1023 { padding-bottom: 10px; }
    .padL10on1023 { padding-left: 10px; }
    .padR10on1023 { padding-right: 10px; }

    .mar30,
    .mar35 {    margin: 25px;}
    .mar40,
    .mar45 {    margin: 30px;}
    .mar50,
    .mar55 {    margin: 35px;}
    .mar60,
    .mar65 {    margin: 40px;}
    .mar70, .mar75,
    .mar80 {    margin: 45px;}


    .marT30,
    .marT35 {   margin-top: 25px;}
    .marT40,
    .marT45 {   margin-top: 30px;}
    .marT50,
    .marT55 {   margin-top: 35px;}
    .marT60,
    .marT65 {   margin-top: 40px;}
    .marT70, .marT75,
    .marT80 {   margin-top: 45px;}


    .marL30,
    .marL35 {   margin-left: 25px;}
    .marL40,
    .marL45 {   margin-left: 30px;}
    .marL50,
    .marL55 {   margin-left: 35px;}
    .marL60,
    .marL65 {   margin-left: 40px;}
    .marL70, .marL75,
    .marL80 {   margin-left: 45px;}


    .marR30,
    .marR35 {   margin-right: 25px;}
    .marR40,
    .marR45 {   margin-right: 30px;}
    .marR50,
    .marR55 {   margin-right: 35px;}
    .marR60,
    .marR65 {   margin-right: 40px;}
    .marR70, .marR75,
    .marR80 {   margin-right: 45px;}


    .marB30,
    .marB35 {   margin-bottom: 25px;}
    .marB40,
    .marB45 {   margin-bottom: 30px;}
    .marB50,
    .marB55 {   margin-bottom: 35px;}
    .marB60,
    .marB65 {   margin-bottom: 40px;}
    .marB70, .marB75,
    .marB80 {   margin-bottom: 45px;}



    .hideOn1023 {   display: none;}
    .showOn1023 {   display: block;}

    .fontS40 h1,.fontS40 h2,.fontS40 h3,.fontS40 h4, .fontS40 { font-size: 38px;}
    .fontS42 h1,.fontS42 h2,.fontS42 h3,.fontS42 h4, .fontS42 { font-size: 40px;}
    .fontS44 h1,.fontS44 h2,.fontS44 h3,.fontS44 h4, .fontS44 { font-size: 41px;}
    .fontS45 h1,.fontS45 h2,.fontS45 h3,.fontS45 h4, .fontS45 { font-size: 42px;}
    .fontS46 h1,.fontS46 h2,.fontS46 h3,.fontS46 h4, .fontS46 { font-size: 43px;}
    .fontS48 h1,.fontS48 h2,.fontS48 h3,.fontS48 h4, .fontS48 { font-size: 45px;}
    .fontS50 h1,.fontS50 h2,.fontS50 h3,.fontS50 h4, .fontS50 { font-size: 47px;}
    .fontS55 h1,.fontS55 h2,.fontS55 h3,.fontS55 h4, .fontS55 { font-size: 49px;}
    .fontS60 h1,.fontS60 h2,.fontS60 h3,.fontS60 h4, .fontS60 { font-size: 51px;}
    .fontS65 h1,.fontS65 h2,.fontS65 h3,.fontS65 h4, .fontS65 { font-size: 53px;}
    .fontS70 h1,.fontS70 h2,.fontS70 h3,.fontS70 h4, .fontS70 { font-size: 55px;}
    .fontS75 h1,.fontS75 h2,.fontS75 h3,.fontS75 h4, .fontS75 { font-size: 57px;}
    .fontS80 h1,.fontS80 h2,.fontS80 h3,.fontS80 h4, .fontS80 { font-size: 59px;}
    .fontS85 h1,.fontS85 h2,.fontS85 h3,.fontS85 h4, .fontS85 { font-size: 61px;}
    .fontS90 h1,.fontS90 h2,.fontS90 h3,.fontS90 h4, .fontS90 { font-size: 63px;}
    .fontS95 h1,.fontS95 h2,.fontS95 h3,.fontS95 h4, .fontS95 { font-size: 65px;}
    .fontS100 h1,.fontS100 h2,.fontS100 h3,.fontS100 h4, .fontS100 { font-size: 67px;}
}

@media (max-width: 767px){
    .hideOn767 {    display: none;}
    .showOn767 {    display: block;}
    .centerOn767 {  text-align: center;}

    .pull-left-desktop,
    .pull-right-desktop {
        float: none;
    }

    .padTB5, .padTB15 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .padTB20,
    .padTB25 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .padTB30,
    .padTB35 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .padTB40,
    .padTB45 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .padTB50,
    .padTB55 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .padTB60,
    .padTB65,
    .padTB70,
    .padTB75,
    .padTB80,
    .padTB85,
    .padTB90,
    .padTB95,
    .padTB100,
    .padTB120,
    .padTB150 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .padLR5, .padLR15 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .padLR20,
    .padLR25 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .padLR30,
    .padLR35 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .padLR40,
    .padLR45 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .padLR50,
    .padLR55 {
        padding-left: 25px;
        padding-right: 25px;
    }
    .padLR60,
    .padLR65,
    .padLR70,
    .padLR75,
    .padLR80,
    .padLR85,
    .padLR90,
    .padLR95,
    .padLR100,
    .padLR120,
    .padLR150 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .pad5,
    .pad15 {    padding: 10px;}
    .pad20,
    .pad25 {    padding: 10px;}
    .pad30,
    .pad35 {    padding: 15px;}
    .pad40,
    .pad45 {    padding: 20px;}
    .pad50,
    .pad55 {    padding: 25px;}
    .pad60, .pad65, .pad70, .pad75, .pad80, .pad85, .pad90, .pad95, .pad100, .pad120,
    .pad150 {   padding: 30px;}

    .padT5,
    .padT15 {   padding-top: 10px;}
    .padT20,
    .padT25 {   padding-top: 10px;}
    .padT30,
    .padT35 {   padding-top: 15px;}
    .padT40,
    .padT45 {   padding-top: 20px;}
    .padT50,
    .padT55 {   padding-top: 25px;}
    .padT60, .padT65, .padT70, .padT75, .padT80, .padT85, .padT90, .padT95, .padT100, .padT120,
    .padT150 {  padding-top: 30px;}

    .padL5,
    .padL15 {   padding-left: 10px;}
    .padL20,
    .padL25 {   padding-left: 10px;}
    .padL30,
    .padL35 {   padding-left: 15px;}
    .padL40,
    .padL45 {   padding-left: 20px;}
    .padL50,
    .padL55 {   padding-left: 25px;}
    .padL60, .padL65, .padL70, .padL75, .padL80, .padL85, .padL90, .padL95, .padL100, .padL120,
    .padL150 {  padding-left: 30px;}

    .padR5,
    .padR15 {   padding-right: 10px;}
    .padR20,
    .padR25 {   padding-right: 10px;}
    .padR30,
    .padR35 {   padding-right: 15px;}
    .padR40,
    .padR45 {   padding-right: 20px;}
    .padR50,
    .padR55 {   padding-right: 25px;}
    .padR60, .padR65, .padR70, .padR75, .padR80, .padR85, .padR90, .padR95, .padR100, .padR120,
    .padR150 {  padding-right: 30px;}

    .padB5,
    .padB15 {   padding-bottom: 10px;}
    .padB20,
    .padB25 {   padding-bottom: 10px;}
    .padB30,
    .padB35 {   padding-bottom: 15px;}
    .padB40,
    .padB45 {   padding-bottom: 20px;}
    .padB50,
    .padB55 {   padding-bottom: 25px;}
    .padB60, .padB65, .padB70, .padB75, .padB80, .padB85, .padB90, .padB95, .padB100, .padB120,
    .padB150 {  padding-bottom: 30px;}


    .pad10on767 { padding: 10px; }
    .padT10on767 { padding-top: 10px; }
    .padB10on767 { padding-bottom: 10px; }
    .padL10on767 { padding-left: 10px; }
    .padR10on767 { padding-right: 10px; }

    .mar15, .mar20,
    .mar25 {    margin: 10px;}
    .mar30,
    .mar35 {    margin: 15px;}
    .mar40,
    .mar45 {    margin: 20px;}
    .mar50,
    .mar55 {    margin: 25px;}
    .mar60,
    .mar65 {    margin: 30px;}
    .mar70, .mar75,
    .mar80 {    margin: 35px;}


    .marT15, .marT20,
    .marT25 {   margin-top: 10px;}
    .marT30,
    .marT35 {   margin-top: 15px;}
    .marT40,
    .marT45 {   margin-top: 20px;}
    .marT50,
    .marT55 {   margin-top: 25px;}
    .marT60,
    .marT65 {   margin-top: 30px;}
    .marT70, .marT75,
    .marT80 {   margin-top: 35px;}


    .marL15, .marL20,
    .marL25 {   margin-left: 10px;}
    .marL30,
    .marL35 {   margin-left: 15px;}
    .marL40,
    .marL45 {   margin-left: 20px;}
    .marL50,
    .marL55 {   margin-left: 25px;}
    .marL60,
    .marL65 {   margin-left: 30px;}
    .marL70, .marL75,
    .marL80 {   margin-left: 35px;}


    .marR15, .marR20,
    .marR25 {   margin-right: 10px;}
    .marR30,
    .marR35 {   margin-right: 15px;}
    .marR40,
    .marR45 {   margin-right: 20px;}
    .marR50,
    .marR55 {   margin-right: 25px;}
    .marR60,
    .marR65 {   margin-right: 30px;}
    .marR70, .marR75,
    .marR80 {   margin-right: 35px;}


    .marB15, .marB20,
    .marB25 {   margin-bottom: 10px;}
    .marB30,
    .marB35 {   margin-bottom: 15px;}
    .marB40,
    .marB45 {   margin-bottom: 20px;}
    .marB50,
    .marB55 {   margin-bottom: 25px;}
    .marB60,
    .marB65 {   margin-bottom: 30px;}
    .marB70, .marB75,
    .marB80 {   margin-bottom: 35px;}

    .noPadOn767 {   padding: 0px; }
    .noPadTOn767 {  padding-top: 0px; }
    .noPadBOn767 {  padding-bottom: 0px; }
    .noPadLOn767 {  padding-left: 0px; }
    .noPadROn767 {  padding-right: 0px; }
    .noMarOn767 {   margin: 0px; }
    .noMarTOn767 {  margin-top: 0px; }
    .noMarBOn767 {  margin-bottom: 0px; }
    .noMarLOn767 {  margin-left: 0px; }
    .noMarROn767 {  margin-right: 0px; }

    .fontS17 h1,.fontS17 h2,.fontS17 h3,.fontS17 h4, .fontS17,
    .fontS18 h1,.fontS18 h2,.fontS18 h3,.fontS18 h4, .fontS18 { font-size: 16px;}
    .fontS20 h1,.fontS20 h2,.fontS20 h3,.fontS20 h4, .fontS20 { font-size: 18px;}
    .fontS22 h1,.fontS22 h2,.fontS22 h3,.fontS22 h4, .fontS22,
    .fontS24 h1,.fontS24 h2,.fontS24 h3,.fontS24 h4, .fontS24,
    .fontS25 h1,.fontS25 h2,.fontS25 h3,.fontS25 h4, .fontS25,
    .fontS26 h1,.fontS26 h2,.fontS26 h3,.fontS26 h4, .fontS26 { font-size: 20px;}
    .fontS28 h1,.fontS28 h2,.fontS28 h3,.fontS28 h4, .fontS28 { font-size: 21px;}
    .fontS30 h1,.fontS30 h2,.fontS30 h3,.fontS30 h4, .fontS30 { font-size: 22px;}
    .fontS32 h1,.fontS32 h2,.fontS32 h3,.fontS32 h4, .fontS32 { font-size: 23px;}
    .fontS34 h1,.fontS34 h2,.fontS34 h3,.fontS34 h4, .fontS34,
    .fontS35 h1,.fontS35 h2,.fontS35 h3,.fontS35 h4, .fontS35,
    .fontS36 h1,.fontS36 h2,.fontS36 h3,.fontS36 h4, .fontS36 { font-size: 24px;}
    .fontS38 h1,.fontS38 h2,.fontS38 h3,.fontS38 h4, .fontS38 { font-size: 25px;}
    .fontS40 h1,.fontS40 h2,.fontS40 h3,.fontS40 h4, .fontS40 { font-size: 26px;}
    .fontS42 h1,.fontS42 h2,.fontS42 h3,.fontS42 h4, .fontS42 { font-size: 27px;}
    .fontS44 h1,.fontS44 h2,.fontS44 h3,.fontS44 h4, .fontS44,
    .fontS45 h1,.fontS45 h2,.fontS45 h3,.fontS45 h4, .fontS45,
    .fontS46 h1,.fontS46 h2,.fontS46 h3,.fontS46 h4, .fontS46 { font-size: 28px;}
    .fontS48 h1,.fontS48 h2,.fontS48 h3,.fontS48 h4, .fontS48 { font-size: 29px;}
    .fontS50 h1,.fontS50 h2,.fontS50 h3,.fontS50 h4, .fontS50 { font-size: 30px;}
    .fontS55 h1,.fontS55 h2,.fontS55 h3,.fontS55 h4, .fontS55 { font-size: 32px;}
    .fontS60 h1,.fontS60 h2,.fontS60 h3,.fontS60 h4, .fontS60 { font-size: 34px;}
    .fontS65 h1,.fontS65 h2,.fontS65 h3,.fontS65 h4, .fontS65 { font-size: 36px;}
    .fontS70 h1,.fontS70 h2,.fontS70 h3,.fontS70 h4, .fontS70 { font-size: 38px;}
    .fontS75 h1,.fontS75 h2,.fontS75 h3,.fontS75 h4, .fontS75 { font-size: 40px;}
    .fontS80 h1,.fontS80 h2,.fontS80 h3,.fontS80 h4, .fontS80 { font-size: 42px;}
    .fontS85 h1,.fontS85 h2,.fontS85 h3,.fontS85 h4, .fontS85 { font-size: 44px;}
    .fontS90 h1,.fontS90 h2,.fontS90 h3,.fontS90 h4, .fontS90 { font-size: 46px;}
    .fontS95 h1,.fontS95 h2,.fontS95 h3,.fontS95 h4, .fontS95 { font-size: 48px;}
    .fontS100 h1,.fontS100 h2,.fontS100 h3,.fontS100 h4, .fontS100 { font-size: 50px;}

    .line-height1on767 { line-height: 1; }
    .line-height11on767 { line-height: 1.1; }
    .line-height12on767 { line-height: 1.2; }
    .line-height13on767 { line-height: 1.3; }
    .line-height14on767 { line-height: 1.4; }
    .line-height15on767 { line-height: 1.5; }
}